body {
    background-color: grey;
}

h1 {
    color: yellow;
    text-align: center;
}

a {
	text-decoration: none;
}

img {
	width: 500px;
    display: block;
    margin: auto;
}
ul {
	list-style: square;
}
p {
    font-family: verdana;
    font-size: 20px;
    color: brown;
}
hr {
	width: 500px;
	text-align: center;
}
h3 {
	color: pink;
	text-align: center;
}