body {
    margin: 200px;
    background-color: lightgrey;
}

h1 {
    color: yellow;
    text-align: center;
    padding: 40px;
    border: dotted blue 3px;
}

a {
	text-decoration: none;
}

img {
	width: 500px;
    display: block;
    margin: 50px auto;
}
ul {
	list-style: square;
}
li {
    margin: 5px;
}
p {
    font-family: verdana;
    font-size: 20px;
    color: brown;
    border: solid green 4px;
    padding: 25px;
}
hr {
	width: 500px;
	text-align: center;
}
h3 {
	color: pink;
	text-align: center;
}